<div>
<h1>Welcome to OMDB !!!</h1>
</div>

<p>You can search your desired movie here</p>

<form action ="/results" method ="GET">
    <input type = "text" placeholder="SearchMovie" name = "SearchQuery">
    <input type ="submit">
</form>


<style>
    h1{
        color: blue;
    }
    p
    {
        color:chartreuse;
    }
</style>

<a href = "/" >Go To Main</a>